@font-face {
  font-family: "Hyperspace";
  src: url('Hyperspace.ttf')
}

body {
  background: #000;
  color: #ddd;
}

a, a:visited {
  color: white;
}

a:hover {
  text-decoration: none;
}

canvas#game-canvas {
  background: #000;
}

.container {
  text-align: center;
  padding-top: 30px;
  line-height: 22px;
  font-family: "Helvetica", "Arial," "sans-serif";
}

h2 {
  font-size: 18px;
  margin-bottom: 2px;
  text-transform: uppercase;
}
